#ban {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#general {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 1000px;
    background-color: red;
}

#content {
    /*height: 100vh;*/
    height: 1000px;
    background-color: lightgrey;
}

#sidebar {
    float: left;
    /*height: 100vh;*/
    height: 1000px;
    width: 230px;
    background-color: black;
}

#sidebar ul {
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

#sidebar ul li {
    list-style: none;
    background-color: black;
    width: 100%;
    line-height: 55px;

}

#sidebar ul li a {
    text-decoration: none;
    font-size: 14px;
    margin-left: 20px;
    color: grey;
    display: block;
}

#sidebar .firstItem a {
    font-weight: bold;
    font-size: 16px;
}

#sidebar ul li a:hover {
    color: white;
}

#sidebar ul li:hover {
    text-decoration: none;
    background-color: grey;
}

#sidebar ul .spl {
    background-color: dodgerblue;
}

#sidebar ul .spl:hover {
    background-color: deepskyblue;
}

#sidebar ul .spl a {
    color: black;
}

.header:not(#noth){
    background-color: cadetblue;
    cursor: pointer;
}

.header:not(#noth):hover{
    background-color:aqua;
}

body{
    font-family: Verdana,Geneva,sans-serif;
}



#content{
    font-family: Arial;
}

li a{
    outline: 0;/*El marco feo de cada link al hacer foco*/
}

table td{
    width: 33.333333333333336%;
}

table tbody td{
    background-color: lightgrey;
    text-align: center;
    vertical-align: middle;
    line-height: inherit;    
}

table thead tr{
    border-bottom: 1px solid black;
}

table {
    width: 770px;
}

div dimg {
	margin: 20px;
}

div dimg a img{
	margin-top: 20px;
}

.int-img {
	margin: 20px;
}

div p {
	margin-left: 250px;
	margin-right: 20px;
}

#aviso {

    font-size: 20px;
    background-color: aqua;
    color: darkred;
}