ul{
    list-style: none;
}

header img{
    position: relative;
    margin-left: 24%;
}

body{
    background-color: gray;
}

section{
    position: relative;
    margin-left: 15%;
    margin-top: 6%;
    width: 60%;
    background-color: white;
}

label{
    font-size: 24px;
}