<!DOCTYPE html>
<table id="myTable" class="tablesorter" border="0" cellpadding="10">
    <!--En html5 podemos obviar thead y tbody-->
    <thead>
        <tr>
            <th id="noth"></th>
            <th class="header">Nombre▼</th>
            <th id="headerPrecio" class="header headerSortDown">Precio▼</th>
        </tr>
    </thead>
    
    <tbody>
        <tr procImages="thermalright-hr-22-heatsink">
            <td>Thermalright HR-22 Heatsink</td>
            <td>U$S146</td>
        </tr>
        <tr procImages="disip-cm-v8-gts">
            <td>Disip. Cm V8 Gts</td>
            <td>U$S145</td>
        </tr>
        <tr procImages="zalman-cooler-cnps7xled">
            <td>Zalman Cooler CNPS7XLED</td>
            <td>U$S67</td>
        </tr>
        <tr procImages="artic-cpu-cooler-freezer-13">
            <td>ARCTIC CPU COOLER FREEZER 13</td>
            <td>U$S59</td>
        </tr>
        <tr procImages="disip-tt-frio-silent-14-140mm">
            <td>Disip. Tt Frio Silent 14 140mm</td>
            <td>U$S56</td>
        </tr>
    </tbody>
    
    
</table>
<script type="application/javascript" src="../js/productos.js"></script>