    <div class="detalle_img">
        <dimg proc="amdfx6300"></dimg>

        <p>
        Frequency                   3500 MHz

Turbo frequency         4100 MHz

Bus speed                    One 2600 MHz 16-bit HyperTransport link

Socket                         Socket AM3+

Microarchitecture          Piledriver

Platform                        Volan

Processor core              Vishera

Data width                     64 bit

The number of cores      6

The number of threads   6

Level 1 cache size           3 x 64 KB shared instruction caches, 6 x 16 KB data caches

Level 2 cache size           3 x 2 MB shared exclusive caches

Level 3 cache size           8 MB shared cache

Supported memory       DDR3-1866

Thermal Design Power   95 Watt
    </p>
    </div>

<script type="application/javascript" src="../js/detalles.js"></script>