    <div class="detalle_img">
        <dimg proc="amdfx6300"></dimg>

        <p>
        Frequency                   3500 MHz<br>

Turbo frequency         4100 MHz<br>

Bus speed                    One 2600 MHz 16-bit HyperTransport link<br>

Socket                         Socket AM3+<br>

Microarchitecture          Piledriver<br>

Platform                        Volan<br>

Processor core              Vishera<br>

Data width                     64 bit<br>

The number of cores      6<br>

The number of threads   6<br>

Level 1 cache size           3 x 64 KB shared instruction caches, 6 x 16 KB data caches<br>

Level 2 cache size           3 x 2 MB shared exclusive caches<br>

Level 3 cache size           8 MB shared cache<br>

Supported memory       DDR3-1866<br>

Thermal Design Power   95 Watt<br>
    </p>
    </div>

<script type="application/javascript" src="../js/detalles.js"></script>