<div>
<dimg class="detalle_img" proc="asus-a78me"></dimg>
<br>

    <p>
        AMD Socket FM2+ Athlon™/A- Series Processors <br>
        Supports CPU up to 4 cores<br>
        Supports AMD® Turbo Core 3.0 Technology<br>
        Chipset<br>
        AMD A78 (Bolton D3)<br>

        Memory<br>
        2 x DIMM, Max. 32GB, DDR3 2400(O.C.)/2133/1866/1600/1333 MHz Non-ECC, Un-buffered Memory <br>
        Dual Channel Memory Architecture <br>
        Support AMD Memory Profile (AMP) memory<br>

        Graphic<br>
        Integrated AMD Radeon™ R/HD8000/HD7000 Series Graphics in the A-Series  APU <br>
        Multi-VGA output support : HDMI/DVI/RGB ports <br>
        Maximum shared memory of 2048 MB<br>
        AMD® Dual Graphics technology support *2<br>

        Expansion Slots<br>
        1 x PCIe 3.0/2.0 x16 *3<br>
        1 x PCIe 2.0 x1 <br>
        1 x PCI<br>

        Storage<br>
        AMD A78 FCH(Bolton D3) chipset : <br>
        6 x SATA 6Gb/s port(s), yellow<br>
        Support Raid 0, 1, 10, JBOD<br>

        LAN<br>
        Realtek® 8111GR, 1 x Gigabit LAN Controller(s)<br>

        Audio<br>
        Realtek® ALC887-VD 8-Channel High Definition Audio CODEC *4<br>
        - Supports : Jack-detection, Multi-streaming, Front Panel Jack-retasking<br>

        USB Ports<br>
        AMD A78 FCH(Bolton D3) chipset : <br>
        4 x USB 3.0/2.0 port(s) (2 at back panel, blue, 2 at mid-board)<br>
        AMD A78 FCH(Bolton D3) chipset : <br>
        6 x USB 2.0/1.1 port(s) (2 at back panel, black, 4 at mid-board)<br>

        Special Features<br>
        ASUS 5X Protection :<br>
        - ASUS DIGI+ VRM - 3 + 2 Phase digital power design<br>
        - ASUS Enhanced DRAM Overcurrent Protection - Short circuit damage prevention <br>
        - ASUS ESD Guards - Enhanced ESD protection <br>
        - ASUS High-Quality 5K-Hour Solid Capacitors - 2.5x long lifespan with excellent durability <br>
        - ASUS Stainless Steel Back I/O - 3x more durable corrosion-resistant coating <br>
        ASUS EPU :<br>
        - EPU <br>
        ASUS Exclusive Features :<br>
        - AI Suite 3<br>
        - Ai Charger<br>
        - Anti-Surge<br>
        - ASUS UEFI BIOS EZ Mode featuring friendly graphics user interface <br>
        - USB 3.0 Boost<br>
        - Disk Unlocker<br>
        ASUS Quiet Thermal Solution :<br>
        - Stylish Fanless Design Heat-sink solution<br>
        - ASUS Fan Xpert <br>
        ASUS EZ DIY :<br>
        - ASUS CrashFree BIOS 3 <br>
        - ASUS EZ Flash 2 <br>
        - ASUS MyLogo 2 <br>
        ASUS Q-Design :<br>
        - ASUS Q-Slot<br>

        Operating System Support<br>
        Windows® 8.1 , 32bit/64bit<br>
        Windows® 8 , 32bit/64bit<br>
        Windows® 7 , 32bit/64bit<br>
        Windows® XP , 32bit<br>

        Back I/O Ports<br>
        1 x PS/2 keyboard (purple)<br>
        1 x PS/2 mouse (green)<br>
        1 x DVI<br>
        1 x D-Sub<br>
        1 x HDMI<br>
        1 x LAN (RJ45) port(s)<br>
        2 x USB 3.0 (blue)<br>
        2 x USB 2.0 <br>
        3 x Audio jack(s)<br>

        Internal I/O Ports<br>
        1 x USB 3.0 connector(s) support(s) additional 2 USB 3.0 port(s) <br>
        2 x USB 2.0 connector(s) support(s) additional 4 USB 2.0 port(s)<br>
        1 x TPM header<br>
        1 x COM port(s) connector(s)<br>
        6 x SATA 6Gb/s connector(s)<br>
        1 x CPU Fan connector(s) <br>
        1 x Chassis Fan connector(s) <br>
        1 x S/PDIF out header(s)<br>
        1 x 24-pin EATX Power connector(s)<br>
        1 x 4-pin ATX 12V Power connector(s)<br>
        1 x Internal speaker connector(s)<br>
        1 x System panel(s)<br>
    </p>
</div>

<script type="application/javascript" src="../js/detalles.js"></script>