<div>
<dimg class="detalle_img" proc="asus-a78me"></dimg>
<br>

    <p>
        AMD Socket FM2+ Athlon™/A- Series Processors 
        Supports CPU up to 4 cores
        Supports AMD® Turbo Core 3.0 Technology
        Chipset
        AMD A78 (Bolton D3)

        Memory
        2 x DIMM, Max. 32GB, DDR3 2400(O.C.)/2133/1866/1600/1333 MHz Non-ECC, Un-buffered Memory 
        Dual Channel Memory Architecture 
        Support AMD Memory Profile (AMP) memory

        Graphic
        Integrated AMD Radeon™ R/HD8000/HD7000 Series Graphics in the A-Series  APU 
        Multi-VGA output support : HDMI/DVI/RGB ports 
        Maximum shared memory of 2048 MB
        AMD® Dual Graphics technology support *2

        Expansion Slots
        1 x PCIe 3.0/2.0 x16 *3
        1 x PCIe 2.0 x1 
        1 x PCI

        Storage
        AMD A78 FCH(Bolton D3) chipset : 
        6 x SATA 6Gb/s port(s), yellow
        Support Raid 0, 1, 10, JBOD

        LAN
        Realtek® 8111GR, 1 x Gigabit LAN Controller(s)

        Audio
        Realtek® ALC887-VD 8-Channel High Definition Audio CODEC *4
        - Supports : Jack-detection, Multi-streaming, Front Panel Jack-retasking

        USB Ports
        AMD A78 FCH(Bolton D3) chipset : 
        4 x USB 3.0/2.0 port(s) (2 at back panel, blue, 2 at mid-board)
        AMD A78 FCH(Bolton D3) chipset : 
        6 x USB 2.0/1.1 port(s) (2 at back panel, black, 4 at mid-board)

        Special Features
        ASUS 5X Protection :
        - ASUS DIGI+ VRM - 3 + 2 Phase digital power design
        - ASUS Enhanced DRAM Overcurrent Protection - Short circuit damage prevention 
        - ASUS ESD Guards - Enhanced ESD protection 
        - ASUS High-Quality 5K-Hour Solid Capacitors - 2.5x long lifespan with excellent durability 
        - ASUS Stainless Steel Back I/O - 3x more durable corrosion-resistant coating 
        ASUS EPU :
        - EPU 
        ASUS Exclusive Features :
        - AI Suite 3
        - Ai Charger
        - Anti-Surge
        - ASUS UEFI BIOS EZ Mode featuring friendly graphics user interface 
        - USB 3.0 Boost
        - Disk Unlocker
        ASUS Quiet Thermal Solution :
        - Stylish Fanless Design Heat-sink solution
        - ASUS Fan Xpert 
        ASUS EZ DIY :
        - ASUS CrashFree BIOS 3 
        - ASUS EZ Flash 2 
        - ASUS MyLogo 2 
        ASUS Q-Design :
        - ASUS Q-Slot

        Operating System Support
        Windows® 8.1 , 32bit/64bit
        Windows® 8 , 32bit/64bit
        Windows® 7 , 32bit/64bit
        Windows® XP , 32bit

        Back I/O Ports
        1 x PS/2 keyboard (purple)
        1 x PS/2 mouse (green)
        1 x DVI
        1 x D-Sub
        1 x HDMI
        1 x LAN (RJ45) port(s)
        2 x USB 3.0 (blue)
        2 x USB 2.0 
        3 x Audio jack(s)

        Internal I/O Ports
        1 x USB 3.0 connector(s) support(s) additional 2 USB 3.0 port(s) 
        2 x USB 2.0 connector(s) support(s) additional 4 USB 2.0 port(s)
        1 x TPM header
        1 x COM port(s) connector(s)
        6 x SATA 6Gb/s connector(s)
        1 x CPU Fan connector(s) 
        1 x Chassis Fan connector(s) 
        1 x S/PDIF out header(s)
        1 x 24-pin EATX Power connector(s)
        1 x 4-pin ATX 12V Power connector(s)
        1 x Internal speaker connector(s)
        1 x System panel(s)
    </p>
</div>

<script type="application/javascript" src="../js/detalles.js"></script>