<!DOCTYPE html>
<table id="myTable" class="tablesorter" border="0" cellpadding="10">
    <!--En html5 podemos obviar thead y tbody-->
    <thead>
        <tr>
            <th id="noth"></th>
            <th class="header">Nombre▼</th>
            <th id="headerPrecio" class="header headerSortDown">Precio▼</th>
        </tr>
    </thead>
    
    <tbody>
        <tr procImages="atir9390xgaming8gb">
            <td>MSI ATI Radeon R9 390X GAMING 8GB</td>
            <td>U$S650</td>
        </tr>

    </tbody>
    
    
</table>
<script type="application/javascript" src="../js/productos.js"></script>