<!DOCTYPE html>
<table id="myTable" class="tablesorter" border="0" cellpadding="10">
    <!--En html5 podemos obviar thead y tbody-->
    <thead>
        <tr>
            <th id="noth"></th>
            <th class="header">Nombre▼</th>
            <th id="headerPrecio" class="header headerSortDown">Precio▼</th>
        </tr>
    </thead>
    
    <tbody>
        <tr procImages="amdfx8350">
            <td>FX-8350</td>
            <td>U$S180</td>
        </tr>
        <tr procImages="amdfx6300">
            <td>FX-6300</td>
            <td>U$S90</td>
        </tr>
    </tbody>
    
    
</table>
<script type="application/javascript" src="../js/productos.js"></script>