<!DOCTYPE html>
<table id="myTable" class="tablesorter" border="0" cellpadding="10">
    <!--En html5 podemos obviar thead y tbody-->
    <thead>
        <tr>
            <th id="asnoth"> </th>
            <th class="header">Nombre▼</th>
            <th id="headerPrecio" class="header headerSortDown">Precio▼</th>
        </tr>
    </thead>
    
    <tbody>
        <tr><td></td><td></td><td></td></tr>
        <tr procImages="eurocase-indianapolis-ii">
            <td>Eurocase Indianapolis II</td>
            <td>U$S180</td>
        </tr>
        <tr procImages="eurocase-vintage">
            <td>Eurocase Vintage</td>
            <td>U$S90</td>
        </tr>
        <tr procImages="genius-trio-razer-f1">
            <td>Genius Trio Razer F1</td>
            <td>U$S90</td>
        </tr>
        <tr procImages="razer-atrox-arcade">
            <td>Razer Atrox Arcade</td>
            <td>U$S90</td>
        </tr>
        <tr procImages="razer-saberthoot">
            <td>Razer Saberthoot</td>
            <td>U$S90</td>
        </tr>
    </tbody>
    
    
</table>
<script type="application/javascript" src="../js/productos.js"></script>