    <div class="detalle_img">
        <dimg proc="cooler-master-glacer"></dimg>
        <br>
        <p>  
	
Model<br>
	

RL-G24L-24PK-R1<br><br>

Radiator<br>
	

Material: Copper/Brass<br>
Dimensions: 269mm x 127mm x 29mm<br>
Fill-port Thread: G 1/4<br><br>

Fan<br>
	

Dimensions: 120mm x 120mm x 25mm<br>
Speed: 2400 RPM<br>
Airflow: 86.15 CFM<br>
Static Pressure: 0.31 - 4.16 mmH2O<br>
Noise Level: 19 - 40.33 dBA<br>
Fan Type: Blademaster 120<br>
Fan Life Expectancy: 40,000 Hrs<br><br>

Pump<br>
	

Speed: 1200 - 3500 RPM<br>
Voltage: 12V<br>
Power: 13W<br>
Connector: 4-Pin PWM, SATA Power<br>
MTBF: 60,000 Hrs<br>
Flow Rate: 165 L/hr<br>
Head: 2650 mmH2O<br><br>

Tubing<br>
	

Material: PVC<br>
Dimensions: 5/8" x 3/8"<br>
Length: 420mm<br>
    </p>
    </div>

<script type="application/javascript" src="../js/detalles.js"></script>