    <div class="detalle_img">
        <dimg proc="cougar-700k"></dimg>
        <br>
        <p>Cougar 700k Gaming

- Mecánico

- Retroiluminado

- El mejor de su clase</p>
    </div>

    <div class="desc">   
    <p>
    FULL KEY BACKLIGHT
5-step brightness adjustment by the backlight key

ON-THE-FLY MACRO RECORDING KEY
Convenient one-touch to start recording a new macro on the fly

ON-THE-FLY MODE SWITCH KEY
Convenient one-touch to switch your profiles (Mode 1~Mode3) on the keyboard

MULTI-MEDIA KEYS
Convenient one-touch to access multi-media commands

WINDOWS LOCK KEY
Quickly disable the Windows key with one touch

DETACHABLE PALM REST
Relieve palm discomfort and keeping your palm in an ergonomic typing position

NON-SLIP RUBBER FOOT
Base remains stable in the intense gaming sessions

BRAIDED CABLE & GOLDEN-PLATED CONNECTORS
Sturdy and durable solutions for gaming
    </p>

    <p>
   Product name
	

COUGAR 700K gaming keyboard

Key switch
	

Cherry MX mechanical

Processor
	

32-bit ARM Cortex-M0

N-key rollover
	

Yes

Full key backlight
	

Yes

Game type
	

FPS / MMORPG / MOBA / RTS

On-board memory
	

512KB

Polling rate
	

1000Hz / 1ms

Repeat rate
	

1X / 2X / 4X / 8X

On-board memory
	

Yes

Material
	

Aluminum / Plastic

Software
	

COUGAR UIX™ SYSTEM

Additional programmable G-keys
	

6

Palm rest
	

Yes

Audio jacks
	

Yes

USB pass-through
	

Yes

Interface
	

Golden-plated USB plug

Cable length
	

1.8m Braided

Dimension
	

230(L) X 487(W) X 40(H) mm

Weight
	

1.2kg
    </p>

</div>

<script type="application/javascript" src="../js/detalles.js"></script>