    <div class="detalle_img">
        <dimg proc="cougar-700k"></dimg>
        <br>
        <p>
    FULL KEY BACKLIGHT<br>
5-step brightness adjustment by the backlight key<br>

ON-THE-FLY MACRO RECORDING KEY<br>
Convenient one-touch to start recording a new macro on the fly<br>

ON-THE-FLY MODE SWITCH KEY<br>
Convenient one-touch to switch your profiles (Mode 1~Mode3) on the keyboard<br>

MULTI-MEDIA KEYS<br>
Convenient one-touch to access multi-media commands<br>

WINDOWS LOCK KEY<br>
Quickly disable the Windows key with one touch<br>

DETACHABLE PALM REST<br>
Relieve palm discomfort and keeping your palm in an ergonomic typing position<br>

NON-SLIP RUBBER FOOT<br>
Base remains stable in the intense gaming sessions<br>

BRAIDED CABLE & GOLDEN-PLATED CONNECTORS<br>
Sturdy and durable solutions for gaming<br>
    </p>

    <p>
   Product name<br>
	

COUGAR 700K gaming keyboard<br>

Key switch<br>
	

Cherry MX mechanical<br>

Processor<br>
	

32-bit ARM Cortex-M0<br>

N-key rollover<br>
	

Yes<br>

Full key backlight<br>
	

Yes<br>

Game type<br>
	

FPS / MMORPG / MOBA / RTS<br>

On-board memory<br>
	

512KB<br>

Polling rate<br>
	

1000Hz / 1ms<br>

Repeat rate<br>
	

1X / 2X / 4X / 8X<br>

On-board memory<br>
	

Yes<br>

Material<br>
	

Aluminum / Plastic<br>

Software<br>
	

COUGAR UIX™ SYSTEM<br>

Additional programmable G-keys<br>
	

6<br>

Palm rest<br>
	

Yes<br>

Audio jacks<br>
	

Yes<br>

USB pass-through<br>
	

Yes<br>

Interface<br>
	

Golden-plated USB plug<br>

Cable length<br>
	

1.8m Braided<br>

Dimension<br>
	

230(L) X 487(W) X 40(H) mm<br>

Weight<br>
	

1.2kg<br>
    </p>
    </div>

    <div class="desc">   
    

</div>

<script type="application/javascript" src="../js/detalles.js"></script>