    <div class="detalle_img">
        <dimg proc="crosair-hydro-h110"></dimg>
        <br>
        <p>
    
	
Cold Plate MaterialCopper<br>

Fan Specification 140mm (x2)<br>

Socket Support AMD AM2, AMD AM3, AMD FM1, AMD FM2, Intel LGA 1150, Intel LGA 1155, Intel LGA 1156, Intel LGA 1366, Intel LGA 201<br>1

Radiator MaterialAluminum<br>

Tubing Low-evaporation, easy-bend tubing is guaranteed leak-free.<br>
    </p>
    </div>

<script type="application/javascript" src="../js/detalles.js"></script>