    <div class="detalle_img">
        <dimg proc="disip-cm-v8-gts"></dimg>
        <br>
        <p>
    
El disipador V8 supera el rendimiento de de cualquier CPU de alto rendimiento en las condiciones de calor más críticas. Es compatible con todos los sockets de CPU actual, y proporciona un rendimiento sin igual de refrigeración.<br><br>
            
            Modelo RR-UV8-XBU1-GP<br>

Intel Socket: LGA 1366 / 1156 / 1155 / 1150 / 775 *<br>

AMD Socket: FM2 / FM1 / AM3+ / AM3 / AM2+ / AM2<br>

Dimensiones 120 x 128 x 161.1mm<br>

Material Copper Base / Aluminum Fins / 8 Heat Pipes<br>

Ventilador 120 x 120 x 25mm<br>

Velocidad Ventilador 800 - 1800 RPM<br>

Presión Ventilador 69.69 CFM<br>

Conector Ventilador 4-Pin<br>

Ruido <br>17 - 21 dBA

Peso <br>865g
    </p>
    </div>

<script type="application/javascript" src="../js/detalles.js"></script>