<dimg class="detalle_img" proc="edifier-aurora"></dimg>
<br>
<p>Aurora 2.1 con su elegante acabado en aluminio pulido del subwoofer y sus dos satélites esféricos, genera un sonido envolvente alrededor optimizando el espacio circundante.</p>

<br><br><br><br><br>
<div>
    <p><span style="font-size: 13px; color: #333333; line-height: 20px;">Aurora 2.1 con su elegante acabado en aluminio pulido del subwoofer y sus dos satélites esféricos, genera un sonido envolvente alrededor optimizando el espacio circundante. Sus parlantes periféricos especialmente diseñados para otorgar una claridad magnífica. Incorporan una base de goma de gran calidad y uno de ellos presenta el control de volumen en la parte superior para un manejo fácil y sencillo. Cuenta además con la revolucionaria tecnología (Edifier Intelligent Distortion Control) que regula la distorsión automáticamente según la carga de entrada. Contiene un chip que monitorea la distorsión de la salida, la calcula y la limita cuando excede el nivel máximo de soporte (de esta forma logra compatibilidad con los distintos tipos de fuentes de sonido por las variedades de impudencia y ganancia), así no sólo se protege el equipo sino también el oído.</span></p>
<h3 style="margin-top: 10px; margin-bottom: 10px; font-family: Raleway, 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 1.3; color: #333333; text-rendering: optimizelegibility; font-size: 24.5px; font-style: normal;"><span style="font-size: 10pt;">Características</span></h3>
<ul style="padding-left: 0px; margin-bottom: 10px; margin-left: 25px; color: #333333; font-family: Oxygen, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 17px; font-style: normal; line-height: 20px;">
<li><span style="font-size: 10pt;">Sistema de audio 2.1 ideal para Notebooks o PC, reproductores de MP3, medios digitales, iPod o iPhone</span></li>
<li><span style="font-size: 10pt;">Subwoofer está elaborado en un tubo de aluminio torneado</span></li>
<li><span style="font-size: 10pt;">2 Parlantes satélites (periféricos) con base de goma, con metal tejido en el altavoz y ángulo justo para un mejor posicionamiento.</span></li>
<li><span style="font-size: 10pt;">El uso de Edifier Intelligent Distortion Control (IDC) administra la sobrecarga de entrada y evita la distorsión de audio</span></li>
<li><span style="font-size: 10pt;">Luz LED azul de encendido</span></li>
<li><span style="font-size: 10pt;">Calidad de sonido insuperable, con mayor potencia posible</span></li>
<li><span style="font-size: 10pt;">Diseño sofisticado y magnéticamente blindado</span></li>
</ul>
<h3 style="margin-top: 10px; margin-bottom: 10px; font-family: Raleway, 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 1.3; color: #333333; text-rendering: optimizelegibility; font-size: 24.5px; font-style: normal;"><span style="font-size: 10pt;">Especificaciones</span></h3>
<ul style="padding-left: 0px; margin-bottom: 10px; margin-left: 25px; color: #333333; font-family: Oxygen, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 17px; font-style: normal; line-height: 20px;">
<li><span style="font-size: 10pt;">Potencia: RMS 22W (3.5W x2 +15W)</span></li>
<li><span style="font-size: 10pt;">Entradas: Mini plug 3.5 mm</span></li>
<li><span style="font-size: 10pt;">Controles: Volumen en lo alto del satélite, efecto FADE IN/OUT, mute</span></li>
<li><span style="font-size: 10pt;">Woofer: 2” neodimio de alta performance, 4 Ohms</span></li>
<li><span style="font-size: 10pt;">Satélites: 1.5” mid range, 4 Ohms</span></li>
<li><span style="font-size: 10pt;">Dimensiones: Sub: 280x87x59 mm / Sat: 59x67x59 mm (AltxAnchxProf)</span></li>
<li><span style="font-size: 10pt;">Protección Magnética: Si</span></li>
<li><span style="font-size: 10pt;">Impedancia de entrada: 5K Ohm</span></li>
<li><span style="font-size: 10pt;">Sensibilidad de Entrada: 450mV</span></li>
<li><span style="font-size: 10pt;">Peso: 1.00 KG</span></li>
</ul>
</div>

<script type="application/javascript" src="../js/detalles.js"></script>