    <div class="detalle_img">
        <dimg proc="edifier-aurora"></dimg>
        <br>
            <p>
    Aurora 2.1 con su elegante acabado en aluminio pulido del subwoofer y sus dos satélites esféricos, genera un sonido envolvente alrededor optimizando el espacio circundante. Sus parlantes periféricos especialmente diseñados para otorgar una claridad magnífica. Incorporan una base de goma de gran calidad y uno de ellos presenta el control de volumen en la parte superior para un manejo fácil y sencillo. Cuenta además con la revolucionaria tecnología (Edifier Intelligent Distortion Control) que regula la distorsión automáticamente según la carga de entrada. Contiene un chip que monitorea la distorsión de la salida, la calcula y la limita cuando excede el nivel máximo de soporte (de esta forma logra compatibilidad con los distintos tipos de fuentes de sonido por las variedades de impudencia y ganancia), así no sólo se protege el equipo sino también el oído.
    </p>

    <p>
    Características<br>
    <ul>    
    <li>Sistema de audio 2.1 ideal para Notebooks o PC, reproductores de MP3, medios digitales, iPod o iPhone</li>
    <li>Subwoofer está elaborado en un tubo de aluminio torneado</li>
    <li>2 Parlantes satélites (periféricos) con base de goma, con metal tejido en el altavoz y ángulo justo para un mejor posicionamiento.</li>
    <li>El uso de Edifier Intelligent Distortion Control (IDC) administra la sobrecarga de entrada y evita la distorsión de audio</li>
    <li>Luz LED azul de encendido</li>
    <li>Calidad de sonido insuperable, con mayor potencia posible</li>
    <li>Diseño sofisticado y magnéticamente blindado</li>
    </ul>
    </p>
        
    <p>
    Especificaciones<br>
    <ul>
    <li>Potencia: RMS 22W (3.5W x2 +15W)</li>
    <li>Entradas: Mini plug 3.5 mm</li>
    <li>Controles: Volumen en lo alto del satélite, efecto FADE IN/OUT, mute</li>
    <li>Woofer: 2” neodimio de alta performance, 4 Ohms</li>
    <li>Satélites: 1.5” mid range, 4 Ohms</li>
    <li>Dimensiones: Sub: 280x87x59 mm / Sat: 59x67x59 mm (AltxAnchxProf)</li>
    <li>Protección Magnética: Si</li>
    <li>Impedancia de entrada: 5K Ohm</li>
    <li>Sensibilidad de Entrada: 450mV</li>
    <li>Peso: 1.00 KG</li>
</ul>

    </p>
    </div>


<script type="application/javascript" src="../js/detalles.js"></script>