<div>
<dimg class="detalle_img" proc="eurocase-vintage"></dimg>
<br>
    <p>
        Guitarra inalámbrica profesional para PC, PS2™y PS3™<br>
        Tecnología de alta velocidad 2.4 Ghz (alcance 10 metros)<br>
        Compatible con todos los juegos favoritos de guitarra:GUITAR HERO™ y ROCK BAND™<br>
        5 botones Principales y 5 botones para Solo<br>
        Interruptor de 5 modos<br>
        Barra para personalizar con su propio estilo<br>
        Diseñado para zurdos y diestros<br>
        Los botones PRINCIPALES y los del modo SOLO también puede personalizarse<br>
        Utilice la guía del botón de su PS3™ para mantenerse en contacto con sus amigos, acceder a sus juegos y a sus archivos multimedia<br>
    </p>
</div>

<script type="application/javascript" src="../js/detalles.js"></script>