<div>
<dimg class="detalle_img" proc="eurocase-indianapolis-ii"></dimg>
<br>
    <p>
        Efecto de vibración que proporciona gran realismo a los juegos<br>
        Volante recubierto en goma para una óptima sujeción<br>
        Ángulo de giro de 180º<br>
        5 ventosas para una firme sujeción a la mesa<br>
        Tres modos: Digital/Análogo/Negcon<br>
        Conector: PS2™<br>
        Cursor direccional con 4 ejes<br>
        11 Botones<br>
        10 botones configurables en PS2™<br>
        2 palancas de cambio configurables en PS2™<br>
        Largo del cable: Volante: 2 mts / Pedalera:1.6 mts<br>
        3 niveles para ajustar la sensibilidad de la dirección con indicación LED<br>
        Requerimientos del sistema: Windows® 7, 2000, XP, Windows Vista® DirectX 7.0 o versión superior<br>
    </p>
</div>

<script type="application/javascript" src="../js/detalles.js"></script>