    <div class="detalle_img">
        <dimg proc="g700s"></dimg>
        <br>
        <p>
    CABLE DE DATOS<br>
La recarga nunca interrumpe el juego<br>

No hace falta detener la acción cuando hay que recargar. G700s se carga durante el juego a través del cable micro USB estándar. Para cargar, cambie sencillamente de una conexión inalámbrica a una a través de cable micro USB estándar. Las pilas AA NiMH se cargan con el juego en curso.<br>

 

13 CONTROLES PROGRAMABLES<br>
A sus órdenes<br>

La configuración de fábrica ofrece excelentes resultados. También se pueden configurar activadores que funcionen con sólo pulsar un botón, en lugar de tener que rebuscar en los menús para encontrar una opción. Tenga a su alcance las comunicaciones activadas mediante una pulsación. Reduzca temporalmente el valor de dpi para apuntar y disparar. Reasigne cualquier comando de juego o macro multicomando a cualquiera de los 13 botones programables con Logitech Gaming Software (LGS)*, opcional.<br>

 

VELOCIDAD DE RESPUESTA FIABLE, CON O SIN CABLES<br>
Ideas y acción unidas<br>

Cada comando se ejecutará tan rápidamente como sea posible. G700s mantiene una velocidad de respuesta de 1 ms, tanto con una conexión inalámbrica a 2,4 GHz como con conexiones USB. Hasta ocho veces más rápido que un ratón USB estándar, G700s captura los movimientos del usuario tan rápidamente como se hacen.<br>

 

CAMBIO DE SENSIBILIDAD SOBRE LA MARCHA<br>
Preparado para todo al instante<br>

Movimientos exactos en cualquier situación de juego. G700s ofrece numerosas opciones de dpi.Puede:<br>

Recorrer la configuración para seleccionar rápidamente las opciones en pantalla.Explorar el mapa del juego (hasta 8200 dpi).Reducir el valor de dpi para apuntar con precisión de píxel.Usar botones especiales y convenientemente situados para seleccionar unidades (200 dpi).<br>

 

BOTÓN RUEDA CON DOS MODOS<br>
Precisión y velocidad, sin compromisos<br>

A diferencia de la mayoría de botones rueda, el de G700s ofrece dos modos y desplazamiento superrápido. Durante el juego se pueden seleccionar rápidamente opciones de menú con precisión clic a clic. También es posible recorrer páginas Web con un toque leve del botón rueda con giro libre para desplazamiento superrápido.<br>
    </p>

    <p>
   Product name<br>
	

COUGAR 700K gaming keyboard<br>

Key switch<br>
	

Cherry MX mechanical<br>

Processor<br>
	

32-bit ARM Cortex-M0<br>

N-key rollover<br>
	

Yes<br>

Full key backlight<br>
	

Yes<br>

Game type<br>
	

FPS / MMORPG / MOBA / RTS<br>

On-board memory<br>
	

512KB<br>

Polling rate<br>
	

1000Hz / 1ms<br>

Repeat rate<br>
	

1X / 2X / 4X / 8X<br>

On-board memory<br>
	

Yes<br>

Material<br>
	

Aluminum / Plastic<br>

Software<br>
	

COUGAR UIX™ SYSTEM<br>

Additional programmable G-keys<br>
	

6<br>

Palm rest<br>
	

Yes<br>

Audio jacks<br>
	

Yes<br>

USB pass-through<br>
	

Yes<br>

Interface<br>
	

Golden-plated USB plug<br>

Cable length<br>
	

1.8m Braided<br>

Dimension<br>
	

230(L) X 487(W) X 40(H) mm<br>

Weight<br>
	

1.2kg<br>
    </p>
    </div>

<script type="application/javascript" src="../js/detalles.js"></script>