    <div class="detalle_img">
        <dimg proc="g700s"></dimg>
        <br>
        <p>CABLE DE DATOS
13 CONTROLES PROGRAMABLES
VELOCIDAD DE RESPUESTA FIABLE, CON O SIN CABLES
CAMBIO DE SENSIBILIDAD SOBRE LA MARCHA
BOTÓN RUEDA CON DOS MODOS</p>
    </div>

    <div class="desc">   
    <p>
    CABLE DE DATOS
La recarga nunca interrumpe el juego

No hace falta detener la acción cuando hay que recargar. G700s se carga durante el juego a través del cable micro USB estándar. Para cargar, cambie sencillamente de una conexión inalámbrica a una a través de cable micro USB estándar. Las pilas AA NiMH se cargan con el juego en curso.

 

13 CONTROLES PROGRAMABLES
A sus órdenes

La configuración de fábrica ofrece excelentes resultados. También se pueden configurar activadores que funcionen con sólo pulsar un botón, en lugar de tener que rebuscar en los menús para encontrar una opción. Tenga a su alcance las comunicaciones activadas mediante una pulsación. Reduzca temporalmente el valor de dpi para apuntar y disparar. Reasigne cualquier comando de juego o macro multicomando a cualquiera de los 13 botones programables con Logitech Gaming Software (LGS)*, opcional.

 

VELOCIDAD DE RESPUESTA FIABLE, CON O SIN CABLES
Ideas y acción unidas

Cada comando se ejecutará tan rápidamente como sea posible. G700s mantiene una velocidad de respuesta de 1 ms, tanto con una conexión inalámbrica a 2,4 GHz como con conexiones USB. Hasta ocho veces más rápido que un ratón USB estándar, G700s captura los movimientos del usuario tan rápidamente como se hacen.

 

CAMBIO DE SENSIBILIDAD SOBRE LA MARCHA
Preparado para todo al instante

Movimientos exactos en cualquier situación de juego. G700s ofrece numerosas opciones de dpi.Puede:

Recorrer la configuración para seleccionar rápidamente las opciones en pantalla.Explorar el mapa del juego (hasta 8200 dpi).Reducir el valor de dpi para apuntar con precisión de píxel.Usar botones especiales y convenientemente situados para seleccionar unidades (200 dpi).

 

BOTÓN RUEDA CON DOS MODOS
Precisión y velocidad, sin compromisos

A diferencia de la mayoría de botones rueda, el de G700s ofrece dos modos y desplazamiento superrápido. Durante el juego se pueden seleccionar rápidamente opciones de menú con precisión clic a clic. También es posible recorrer páginas Web con un toque leve del botón rueda con giro libre para desplazamiento superrápido.
    </p>

    <p>
   Product name
	

COUGAR 700K gaming keyboard

Key switch
	

Cherry MX mechanical

Processor
	

32-bit ARM Cortex-M0

N-key rollover
	

Yes

Full key backlight
	

Yes

Game type
	

FPS / MMORPG / MOBA / RTS

On-board memory
	

512KB

Polling rate
	

1000Hz / 1ms

Repeat rate
	

1X / 2X / 4X / 8X

On-board memory
	

Yes

Material
	

Aluminum / Plastic

Software
	

COUGAR UIX™ SYSTEM

Additional programmable G-keys
	

6

Palm rest
	

Yes

Audio jacks
	

Yes

USB pass-through
	

Yes

Interface
	

Golden-plated USB plug

Cable length
	

1.8m Braided

Dimension
	

230(L) X 487(W) X 40(H) mm

Weight
	

1.2kg
    </p>

</div>

<script type="application/javascript" src="../js/detalles.js"></script>