<div>
<dimg class="detalle_img" proc="ga-am1m-2sh"></dimg>
<br>

    <p>
        APU<br>
        FS1b Socket:<br>
        AMD Athlon™ series processors<br>
        AMD Sempron™ series processors<br>

        Memory<br>
        2 x 1.5V DDR3 DIMM sockets supporting up to 32 GB of system memory<br>
        Support for DDR3 1600/1333 MHz memory modules<br>
        Support for Extreme Memory Profile (XMP) memory modules<br>

        Onboard Graphics<br>
        Integrated Graphics Processor:<br>
        1 x D-Sub port, supporting a maximum resolution of 1920x1200<br>
        1 x HDMI port, supporting a maximum resolution of 4096x2160<br>
        Maximum shared memory of 2 GB<br>

        Audio<br>
        Realtek® ALC887 codec<br>
        High Definition Audio<br>
        2/4/5.1/7.1-channel<br>
        Support for S/PDIF Out<br>

        LAN<br>
        Realtek® GbE LAN chip (10/100/1000 Mbit)<br>

        Expansion Slots<br>
        1 x PCI Express x16 slot, running at x4 (PCIEX4)<br>
        2 x PCI Express x1 slots<br>

        Storage Interface<br>
        Integrated in the APU:<br>
        2 x SATA 6Gb/s connectors<br>
        USB<br>
        Integrated in the APU:<br>
        2 x USB 3.0/2.0 ports on the back panel<br>
        8 x USB 2.0/1.1 ports (2 ports on the back panel, 6 ports available through the internal USB headers)<br>

        Internal I/O Connectors<br>
        1 x 24-pin ATX main power connector<br>
        1 x 4-pin ATX 12V power connector<br>
        2 x SATA 6Gb/s connectors<br>
        1 x APU fan header<br>
        1 x system fan header<br>
        1 x front panel header<br>
        1 x front panel audio header<br>
        1 x S/PDIF Out header<br>
        3 x USB 2.0/1.1 headers<br>
        1 x serial port header<br>
        1 x parallel port header<br>
        1 x Clear CMOS jumper<br>

        Back Panel Connectors<br>
        1 x PS/2 keyboard port<br>
        1 x PS/2 mouse port<br>
        1 x D-Sub port<br>
        1 x HDMI port<br>
        2 x USB 3.0/2.0 ports<br>
        2 x USB 2.0/1.1 ports<br>
        1 x RJ-45 port<br>
        3 x audio jacks (Line In, Line Out, Mic In)<br>

        I/O Controller<br>
        iTE® I/O Controller Chip<br>
        H/W Monitoring<br>
        System voltage detection<br>
        APU/System temperature detection<br>
        APU/System fan speed detection<br>
        APU overheating warning<br>
        APU/System fan speed control<br>

        BIOS<br>
        1 x 32 Mbit flash<br>
        Use of licensed AMI UEFI BIOS<br>
        PnP 1.0a, DMI 2.7, WfM 2.0, SM BIOS 2.7, ACPI 5.0<br>
        Unique Features<br>
        Support for @BIOS<br>
        Support for Q-Flash<br>
        Support for Xpress Install<br>
        Support for EasyTune<br>
        Support for Smart Recovery 2<br>
        Support for ON/OFF Charge<br>
        Bundle Software<br>
        Norton® Internet Security (OEM version)<br>
        Operating System<br>
        Support for Windows 8.1/8/7 32-bit/64-bit<br>
        Support for Windows XP 32-bit<br>
        Form Factor<br>
        Micro ATX Form Factor; 22.6cm x 17.0cm<br>
    </p>
</div>

<script type="application/javascript" src="../js/detalles.js"></script>