<div>
<dimg class="detalle_img" proc="ga-am1m-2sh"></dimg>
<br>

    <p>
        APU
        FS1b Socket:
        AMD Athlon™ series processors
        AMD Sempron™ series processors

        Memory
        2 x 1.5V DDR3 DIMM sockets supporting up to 32 GB of system memory
        Support for DDR3 1600/1333 MHz memory modules
        Support for Extreme Memory Profile (XMP) memory modules

        Onboard Graphics
        Integrated Graphics Processor:
        1 x D-Sub port, supporting a maximum resolution of 1920x1200
        1 x HDMI port, supporting a maximum resolution of 4096x2160
        Maximum shared memory of 2 GB

        Audio
        Realtek® ALC887 codec
        High Definition Audio
        2/4/5.1/7.1-channel
        Support for S/PDIF Out

        LAN
        Realtek® GbE LAN chip (10/100/1000 Mbit)

        Expansion Slots
        1 x PCI Express x16 slot, running at x4 (PCIEX4)
        2 x PCI Express x1 slots

        Storage Interface
        Integrated in the APU:
        2 x SATA 6Gb/s connectors
        USB
        Integrated in the APU:
        2 x USB 3.0/2.0 ports on the back panel
        8 x USB 2.0/1.1 ports (2 ports on the back panel, 6 ports available through the internal USB headers)

        Internal I/O Connectors
        1 x 24-pin ATX main power connector
        1 x 4-pin ATX 12V power connector
        2 x SATA 6Gb/s connectors
        1 x APU fan header
        1 x system fan header
        1 x front panel header
        1 x front panel audio header
        1 x S/PDIF Out header
        3 x USB 2.0/1.1 headers
        1 x serial port header
        1 x parallel port header
        1 x Clear CMOS jumper

        Back Panel Connectors
        1 x PS/2 keyboard port
        1 x PS/2 mouse port
        1 x D-Sub port
        1 x HDMI port
        2 x USB 3.0/2.0 ports
        2 x USB 2.0/1.1 ports
        1 x RJ-45 port
        3 x audio jacks (Line In, Line Out, Mic In)

        I/O Controller
        iTE® I/O Controller Chip
        H/W Monitoring
        System voltage detection
        APU/System temperature detection
        APU/System fan speed detection
        APU overheating warning
        APU/System fan speed control

        BIOS
        1 x 32 Mbit flash
        Use of licensed AMI UEFI BIOS
        PnP 1.0a, DMI 2.7, WfM 2.0, SM BIOS 2.7, ACPI 5.0
        Unique Features
        Support for @BIOS
        Support for Q-Flash
        Support for Xpress Install
        Support for EasyTune
        Support for Smart Recovery 2
        Support for ON/OFF Charge
        Bundle Software
        Norton® Internet Security (OEM version)
        Operating System
        Support for Windows 8.1/8/7 32-bit/64-bit
        Support for Windows XP 32-bit
        Form Factor
        Micro ATX Form Factor; 22.6cm x 17.0cm
    </p>
</div>

<script type="application/javascript" src="../js/detalles.js"></script>