<html>

<head>
    <link rel="stylesheet" type="text/css" href="../css/element.css">
</head>

 

<body>    
    <a href="javascript:window.displayImage('0')"><img src="../img/amdfx8350.jpg" height="20%"></a>
    
    <script type="text/javascript" src="../js/jquery.js"></script>
    
    <script type="text/javascript" src="../js/catalog.js"></script>
    <script type="text/javascript" src="../js/element.js"></script>
    <script type="text/javascript" src="../js/show.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
</body>

</html>