    <div class="detalle_img">
        <dimg proc="intel-i7-4930k"></dimg>
        <br>
        <p>  
	
Essentials<br><br>
Status<br>
Launched<br>
Launch Date<br>
Q2'12<br>
Processor Number<br>
i7-3770K<br>
# of Cores<br>
4<br>
# of Threads<br>
8<br>
Clock Speed<br>
3.5 GHz<br>
Max Turbo Frequency<br>
3.9 GHz<br>
Intel® Smart Cache<br>
8 MB<br>
Bus/Core Ratio<br>
35<br>
DMI<br>
5 GT/s<br>
Instruction Set<br>
64-bit<br>
Instruction Set Extensions<br>
SSE4.1/4.2, AVX<br>
Embedded Options Available<br>

No
Lithography
22 nm
Max TDP
77 W
    </p>
    </div>

<script type="application/javascript" src="../js/detalles.js"></script>