<!DOCTYPE html>
<table id="myTable" class="tablesorter" border="0" cellpadding="10">
    <!--En html5 podemos obviar thead y tbody-->
    <thead>
        <tr>
            <th id="noth"></th>
            <th class="header">Nombre▼</th>
            <th id="headerPrecio" class="header headerSortDown">Precio▼</th>
        </tr>
    </thead>
    
    <tbody>
        <tr procImages="intel-i7-5820k">
            <td>Intel Core i7-5820K Haswell-E 6-Core 3.3GHz </td>
            <td>U$S 582</td>
        </tr>
        <tr procImages="intel-i7-4930k">
            <td>Intel Core i7-4930K Ivy Bridge-E 6-Core 3.4GHz</td>
            <td>U$S 511</td>
        </tr>
        <tr procImages="intel-i7-4790k">
            <td>Intel Core i7-4790K Haswell Quad-Core 4.0GHz</td>
            <td>U$S 502</td>
        </tr>
        <tr procImages="intel-i7-3770k">
            <td>Intel Core i7-3770K Ivy Bridge 3.5GHz</td>
            <td>U$S 494</td>
        </tr>
    </tbody>
    
    
</table>
<script type="application/javascript" src="../js/productos.js"></script>