<!DOCTYPE html>
<table id="myTable" class="tablesorter" border="0" cellpadding="10">
    <!--En html5 podemos obviar thead y tbody-->
    <thead>
        <tr>
            <th id="noth"></th>
            <th class="header">Nombre▼</th>
            <th id="headerPrecio" class="header headerSortDown">Precio▼</th>
        </tr>
    </thead>
    
    <tbody>
        <tr procImages="intel-i7-4930k">
            <td><a href="javascript:window.displayImage('0')"><img src="../img/intel-i7-4930k.jpg" width="100" height="100"></td></a>
            <td>Intel Core i7-4930K</td>
            <td>U$S 511</tdz
        </tr>
        <tr procImages="intel-i7-5820k">
            <td><a href="javascript:window.displayImage('0')"><img src="../img/intel-i7-5820k.jpg" width="100" height="100"></td></a>
            <td>Intel Core i7-5820K</td>
            <td>U$S 582</td>
        </tr>
        <tr procImages="intel-i7-5820k">
            <td><a href="javascript:window.displayImage('0')"><img src="../img/intel-i7-5820k.jpg" width="100" height="100"></td></a>
            <td>Intel Core i7-5820K</td>
            <td>U$S 582</td>
        </tr>
        <tr procImages="intel-i7-5820k">
            <td><a href="javascript:window.displayImage('0')"><img src="../img/intel-i7-5820k.jpg" width="100" height="100"></td></a>
            <td>Intel Core i7-5820K</td>
            <td>U$S 582</td>
        </tr>
        <tr procImages="intel-i7-5820k">
            <td><a href="javascript:window.displayImage('0')"><img src="../img/intel-i7-5820k.jpg" width="100" height="100"></td></a>
            <td>Intel Core i7-5820K</td>
            <td>U$S 582</td>
        </tr>
    </tbody>
    
    
</table>
<script type="application/javascript" src="../js/procesadores.js"></script>