    <div class="detalle_img">
        <dimg proc="intel-i7-3770k"></dimg>
        <br>
        <p>  
	
Essentials<br><br>
Status<br>
Launched<br>

Launch Date<br>
Q2'14<br>

Processor Number<br>
i7-4790<br>

# of Cores<br>
4<br>

# of Threads<br>
8<br>

Clock Speed<br>
3.6 GHz<br>

Max Turbo Frequency<br>
4 GHz<br>

Intel® Smart Cache<br>
8 MB<br>

DMI2<br>
5 GT/s<br>

# of QPI Links<br>
0<br>

Instruction Set<br>
64-bit<br>

Instruction Set Extensions<br>
SSE 4.1/4.2, AVX 2.0<br>

Embedded Options Available<br>
No<br>

Lithography<br>
22 nm<br>

Scalability<br>
1S Only<br>

Max TDP<br>
84 W<br>

Thermal Solution Specification<br>
PCG 2013D<br>

-Memory Specifications<br>
Max Memory Size (dependent on memory type)<br>
32 GB<br>

Memory Types<br>
DDR3-1333/1600<br>

# of Memory Channels<br>
2<br>

Max Memory Bandwidth<br>
25.6 GB/s<br>

ECC Memory Supported ‡<br>
No<br>


-Graphics Specifications<br>
Processor Graphics ‡<br>
Intel® HD Graphics 4600<br>

Graphics Base Frequency<br>
350 MHz<br>

Graphics Max Dynamic Frequency<br>
1.2 GHz<br>

Graphics Video Max Memory
1 GB

Intel® Quick Sync Video<br>
Yes<br>

Intel® InTru™ 3D Technology<br>
Yes<br>

Intel® Insider™<br>
Yes<br>

Intel® Wireless Display<br>
Yes<br>

Intel® Clear Video HD Technology<br>
Yes<br>

# of Displays Supported ‡<br>
3<br>

-<br>
Expansion Options<br>
PCI Express Revision<br>
3.0<br>

PCI Express Configurations ‡<br>
Up to 1x16, 2x8, 1x8/2x4<br>

Max # of PCI Express Lanes<br>
16<br>


-Package Specifications<br>
Max CPU Configuration<br>
1<br>

TCASE<br>
72.72°C<br>

Package Size<br>
37.5mm x 37.5mm<br>

Graphics and IMC Lithography<br>
22nm<br>

Sockets Supported<br>
FCLGA1150<br>

Low Halogen Options Available<br>
See MDDS<br>

-Advanced Technologies<br>
Intel® Turbo Boost Technology ‡<br>
2.0<br>

Intel® vPro Technology ‡<br>
Yes<br>

Intel® Hyper-Threading Technology ‡<br>
Yes<br>

Intel® Virtualization Technology (VT-x) ‡<br>
Yes<br>

Intel® Virtualization Technology for Directed I/O (VT-d) ‡<br>
Yes<br>

Intel® VT-x with Extended Page Tables (EPT) ‡<br>
Yes<br>

Intel® TSX-NI<br>
Yes<br>

Intel® 64 ‡<br>
Yes<br>

Intel® My WiFi Technology<br>
Yes<br>

Idle States<br>
Yes<br>

Enhanced Intel SpeedStep® Technology<br>
Yes<br>

Thermal Monitoring Technologies<br>
Yes<br>

Intel® Identity Protection Technology ‡<br>
Yes<br>

Intel® Stable Image Platform Program (SIPP)<br>
Yes<br>


-Intel® Data Protection Technology<br>
AES New Instructions<br>
Yes<br>

Secure Key<br>
Yes<br>

-Intel® Platform Protection Technology<br>
OS Guard<br>
Yes<br>

Trusted Execution Technology ‡<br>
Yes<br>

Execute Disable Bit ‡<br>
Yes<br>

Anti-Theft Technology<br>
Yes<br>
    </p>
    </div>

<script type="application/javascript" src="../js/detalles.js"></script>