    <div class="detalle_img">
        <dimg proc="intel-i7-5820k"></dimg>
        <br>
        <p>  
	
Estado<br>
Launched<br>
Fecha de lanzamiento<br>
Q3'14<br>
Número de procesador<br>
i7-5820K<br>
Caché inteligente Intel®<br>
15 MB<br>
Velocidad Intel® QPI<br>
0 GT/s<br>
Cantidad de enlaces QPI<br>
0<br>
Conjunto de instrucciones<br>
64-bit<br>
Extensiones de conjunto de instrucciones<br>
SSE4.2, AVX 2.0, AES<br>
Opciones integradas disponibles<br>
No<br>
Litografía<br>
22 nm<br>
Escalabilidad<br>
1S Only<br>
Libre de conflictos<br>
Yes<br>
-<br>
Desempeño<br>
Cantidad de núcleos<br>
6<br>

Cantidad de subprocesos<br>
12<br>

Frecuencia básica del procesador<br>
3.3 GHz<br>

Frecuencia turbo máxima<br>
3.6 GHz<br>

TDP<br>
140 W<br>






-<br>
Especificaciones de memoria<br>
Tamaño de memoria máximo (depende del tipo de memoria)<br>
64 GB<br>

Tipos de memoria<br>
DDR4-1333/1600/2133<br>

Cantidad de canales de memoria<br>
4<br>

Máximo de ancho de banda de memoria<br>
68 GB/s<br>

Compatible con memoria ECC ‡<br>
No<br>

-<br>
Especificaciones de gráficos<br>
Gráficos del procesador ‡<br>
None<br>


-<br>
Opciones de expansión<br>
Revisión de PCI Express<br>
3.0<br>

Cantidad máxima de líneas PCI Express<br>
28<br>

-<br>
Especificaciones de paquete<br>
Máxima configuración de CPU<br>
1<br>

TCASE<br>
66.8<br>

Tamaño de paquete<br>
52.5mm x 45.0mm<br>

Zócalos compatibles<br>
LGA2011-v3<br>

Baja concentración de opciones de halógenos disponibles<br>
Ver MDDS<br>


-<br>
Tecnologías avanzadas<br>
Versión de la tecnología Intel® Turbo Boost ‡<br>
2.0<br>

Tecnología Intel® vPro ‡<br>
No<br>

Tecnología Hyper-Threading Intel® ‡<br>
Yes<br>

Tecnología de virtualización Intel® (VT-x) ‡<br>
Yes<br>

Tecnología de virtualización Intel® para E/S dirigida (VT-d) ‡<br>
Yes<br>

Intel® VT-x con tablas de páginas extendidas (EPT) ‡<br>
Yes<br>

Intel® 64 ‡<br>
Yes<br>

Estados de inactividad<br>
Yes<br>

Tecnología Intel SpeedStep® mejorada<br>
Yes<br>

Conmutación según demanda Intel®<br>
No<br>

Tecnologías de monitoreo térmico<br>
Yes<br>

Tecnología Intel® Identity Protection ‡<br>
Yes<br>

Tecnología Intel® de respuesta inteligente<br>
Yes<br>

-<br>
Tecnología de protección de datos Intel®<br>
Nuevas instrucciones de AES<br>
Yes<br>
    </p>
    </div>

<script type="application/javascript" src="../js/detalles.js"></script>