    <div class="detalle_img">
        <dimg proc="intel-i7-4790k"></dimg>
        <br>
        <p>  
	
Estado<br>
Launched<br>
Fecha de lanzamiento<br>
Q2'14<br>
Número de procesador<br>
i7-4790K<br>
Cantidad de núcleos<br>
4<br>
Cantidad de subprocesos<br>
8<br>
Veloc. reloj<br>
4 GHz<br>
Frecuencia turbo máxima<br>
4.4 GHz<br>
Caché inteligente Intel®<br>
8 MB<br>
DMI2<br>
5 GT/s<br>
Cantidad de enlaces QPI<br>
0<br>
Conjunto de instrucciones<br>
64-bit<br>
Extensiones de conjunto de instrucciones<br>
SSE 4.1/4.2, AVX 2.0<br>
Opciones integradas disponibles<br>

No<br>
Litografía<br>
22 nm<br>
Escalabilidad<br>
1S Only<br>
Máximo de TDP<br>
88 W<br>
Especificación de solución térmica<br>
PCG 2013D<br>


-<br>
Memory Specifications<br>
Tamaño de memoria máximo (depende del tipo de memoria)<br>
32 GB<br>

Tipos de memoria<br>
DDR3-1333/1600<br>

Cantidad de canales de memoria<br>
2<br>

Máximo de ancho de banda de memoria<br>
25,6 GB/s<br>

Compatible con memoria ECC ‡<br>

No<br>






-<br>
Graphics Specifications<br>
Gráficos del procesador ‡<br>
Intel® HD Graphics 4600<br>

Frecuencia de base de gráficos<br>
350 MHz<br>

Frecuencia dinámica máxima de gráficos<br>
1.25 GHz<br>

Memoria máxima de video de gráficos<br>
1.7 GB<br>

Intel® Quick Sync Video<br>

Yes<br>

Tecnología Intel® InTru™ 3D<br>
Yes<br>

Intel® Insider™<br>
Yes<br>

Intel® Wireless Display<br>

Yes<br>

Tecnología Intel® Clear Video HD<br>
Yes<br>

Nº de pantallas admitidas ‡<br>
3<br>

-<br>
Expansion Options<br>
Revisión de PCI Express<br>
3.0<br>

Configuraciones de PCI Express ‡<br>
Up to 1x16, 2x8, 1x8/2x4<br>

Cantidad máxima de líneas PCI Express<br>
16<br>


-<br>
Package Specifications<br>
Máxima configuración de CPU<br>
1<br>

TCASE<br>
72.72°C<br>

Tamaño de paquete<br>
37.5mm x 37.5mm<br>

Litografía de IMC y gráficos<br>
22nm<br>

Zócalos compatibles<br>
FCLGA1150<br>

Baja concentración de opciones de halógenos disponibles<br>
Ver MDDS<br>

-<br>
Advanced Technologies<br>
Versión de la tecnología Intel® Turbo Boost ‡<br>
2.0<br>

Tecnología Intel® vPro ‡<br>

No<br>

Tecnología Hyper-Threading Intel® ‡<br>

Yes<br>

Tecnología de virtualización Intel® (VT-x) ‡<br>
Yes<br>

Tecnología de virtualización Intel® para E/S dirigida (VT-d) ‡<br>

Yes<br>

Intel® VT-x con tablas de páginas extendidas (EPT)‡<br>

Yes<br>

Intel® Transactional Synchronization Extensions – New Instructions<br>
Yes<br>

Intel® 64 ‡<br>

Yes<br>

Tecnología Intel® My WiFi<br>
Yes<br>

Estados de inactividad<br>
Yes<br>

Tecnología Intel SpeedStep® mejorada<br>

Yes<br>

Tecnologías de monitoreo térmico<br>
Yes<br>

Tecnología Intel® Identity Protection ‡<br>
Yes<br>

Programa Intel® de imagen estable para plataformas (SIPP)<br>
No<br>


-<br>
Intel® Data Protection Technology<br>
Nuevas instrucciones de AES<br>

Yes<br>

Secure Key<br>
Yes<br>

-<br>
Intel® Platform Protection Technology<br>
OS Guard<br>
Yes<br>

Tecnología Trusted Execution ‡<br>

No<br>

Bit de desactivación de ejecución ‡<br>
Yes<br>

Tecnología antirrobo<br>
Yes<br>
    </p>
    </div>

<script type="application/javascript" src="../js/detalles.js"></script>