<!DOCTYPE html>
<table id="myTable" class="tablesorter" border="0" cellpadding="10">
    <!--En html5 podemos obviar thead y tbody-->
    <thead>
        <tr>
            <th id="noth"></th>
            <th class="header">Nombre▼</th>
            <th id="headerPrecio" class="header headerSortDown">Precio▼</th>
        </tr>
    </thead>
    
    <tbody>
        <tr procImages="crosair-hydro-h110">
            <td>Corsair Hydro Series H110 280mm High Performance Liquid CPU cool  </td>
            <td>U$S264</td>
        </tr>
        <tr procImages="crosair-hydro-h100i">
            <td>Corsair Hydro H100i GTX (CW-9060021-WW) </td>
            <td>U$S247</td>
        </tr>
        <tr procImages="cooler-master-glacer">
            <td>Cooler Master Glacer 240L</td>
            <td>U$S242</td>
        </tr>
    </tbody>
    
    
</table>
<script type="application/javascript" src="../js/productos.js"></script>