<!DOCTYPE html>

<!--<button class="btn-group-vertical dropdown-toggle" role="group">
    <li><button type="button" class="btn btn-default">PCs armados</button></li>
    <li><button type="button" class="btn btn-default">MSI</button></li>
    <li><button type="button" class="btn btn-default">Alienware</button></li>
    <li><button type="button" class="btn btn-default">Laptops</button></li>
    <ul><li><button type="button" class="btn btn-default">Procesadores</button></li></ul>
    <li><button type="button" class="btn btn-default">Refrigeración</button></li>
    <li><button type="button" class="btn btn-default">Periféricos</button></li>
</button>-->



<ul>
    <li><button type="button" class="btn btn-default">PCs armados</button></li>
    <li><button type="button" class="btn btn-default">Laptops</button></li>
    <li><button type="button" class="btn btn-default">MSI</button></li>
    <li><button type="button" class="btn btn-default">Alienware</button></li>
    <li><div id="d1" class="btn-group-vertical">

                <button id="dropdownMenu1"
                        class="btn btn-default dropdown-toggle" 
                        type="button" 
                        data-toggle="dropdown"
                        aria-haspopup="true" 
                        aria-expanded="true">Procesadores<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="procesadores_amd.html">AMD</a></li>
                    <li><a href="procesadores_intel.html">Intel</a></li>
                </ul>
                
    </div></li>
    
    
    <li><div id="d2" class="btn-group-vertical">

                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-   haspopup="true"                    aria-expanded="true">Refrigeración
                    <span class="caret"></span></button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><a href="#">Aire</a></li>
                    <li><a href="#">Líquida</a></li>
                </ul>
    </div></li>
    
    <li><div id="d3" class="btn-group-vertical">

                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Periféricos
                    <span class="caret"></span></button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
                    <li><a href="#">Teclados</a></li>
                    <li><a href="#">Mouse</a></li>
                    <li><a href="#">Parlantes</a></li>
                    <li><a href="#">Micrófonos</a></li>
                </ul>
    </div></li>

</ul>
