<!DOCTYPE html>
<table id="myTable" class="tablesorter" border="0" cellpadding="10">
    <!--En html5 podemos obviar thead y tbody-->
    <thead>
        <tr>
            <th id="noth"></th>
            <th class="header">Nombre▼</th>
            <th id="headerPrecio" class="header headerSortDown">Precio▼</th>
        </tr>
    </thead>
    
    <tbody>
        <tr procImages="razer-ouroboros-elite-ambidextrous">
            <td>Mouse Razer Ouroboros Elite Ambidextrous</td>
            <td>U$S195</td>
        </tr>
        <tr procImages="steel-series-sensei-wirelwss">
            <td>Mouse Steel Series Sensei Wirelwss</td>
            <td>U$S185</td>
        </tr>
        <tr procImages="razernaga-epic-elite-wireless">
            <td>Mouse Razer Naga Epic Elite Wireless</td>
            <td>U$S172</td>
        </tr>
        <tr procImages="g700s">
            <td>G700S Rechargable Gaming Mouse</td>
            <td>U$S117</td>
        </tr>
        <tr procImages="razer-imperator">
            <td>Mouse Razer Imperator</td>
            <td>U$S115</td>
        </tr>
    </tbody>
    
    
</table>
<script type="application/javascript" src="../js/procesadores.js"></script>