<dimg class="detalle_img" proc="msi970-gaming"></dimg>
<br>

<br><br><br><br><br><br><br><br><br><br><br><br>
<div>
    <p>
        CPU<br>
        Supports  AMD®FXTM/ Phenom™ II/ Athlon™ II and Sempron™ processors for the AM3/ AM3+ socket<br><br>


        Hyper Transport Bus<br>
        HyperTransport 3.0 supporting speed up to 4.8GT/s 
        <br><br>

        Chipset<br>
        AMD® 970 and SB950 Chipset  <br><br>

        Main Memory<br>
        4 x DDR3 memory slots supporting up to 32GB<br>
        Supports DDR3 2133(OC)/ 1866/ 1600/ 1333/ 1066 MHz<br>
        Dual channel memory architecture <br>
        <br><br>
        
        Slots<br>
        2 x PCIe 2.0 x16 slots<br>
        PCI_E2 supports up to PCIe 2.0 x16 speed<br>
        PCI_E4 supports up to PCIe 2.0 x8 speed<br>
        2 x PCIe 2.0 x1 slots<br>
        2 x PCI slots<br>

        Multi-GPU<br>
        Supports 2-Way AMD® CrossFire™ Technology*<br>
        Supports 2-Way NVIDIA® SLI™ Technology* <br>
        <br><br>
        On-Board SATA AMD SB950 Chipset<br>
        6 x SATA 6Gb/s ports<br>
        Supports RAID 0, RAID1, RAID5 and RAID 10<br> 
        <br><br>
        USB<br>
        AMD® SB950 Chipset<br>
        14x USB 2.0 ports (8 ports on the back panel, 6 ports available through the internal USB 2.0 connectors) VIA VL806 Chipset<br>
        4 x USB 3.0 ports (2 ports on the back panel, 2 ports available through the internal USB 3.0 connector)*<br>

        Audio<br>
        Realtek® ALC1150 Codec<br>
        7.1-Channel High Definition Audio<br>
        Supports S/PDIF output<br> 
        LAN<br>
        Killer E2205 Gigabit LAN controller*<br>
        1 x LAN port on the backpanel<br><br>
          Internal I/O Connectors 1 x 24-pin ATX main power connector<br>
        1 x 8-pin ATX 12V power connector<br>
        6 x SATA 6Gb/s connectors<br>
        3 x USB 2.0 connectors (supports additional 6 USB 2.0 ports)<br>
        1 x USB 3.0 connector<br>
        1 x 4-pin CPU fan connector<br>
        2 x 4-pin system fan connectors<br>
        2 x 3-pin system fan connectors<br>
        1 x Front panel audio connector<br>
        2 x System panel connectors<br>
        1 x Chassis Intrusion connector<br>
        1 x TPM module connector<br>
        1 x Serial port connector<br>
        1 x S/PDIF-Out connector<br>
        1 x Clear CMOS jumper<br>
        1 x Slow mode booting switch<br><br>    
         Back Panel I/O Ports<br>

        1 x PS/2 keyboard/ mouse combo port
        8 x USB 2.0 ports
        2 x USB 3.0 ports
        1 x Optical S/PDIF-Out connector
        1 x LAN (RJ45) port
        6 x OFC audio jacks
    </p>
</div>

<script type="application/javascript" src="../js/detalles.js"></script>