<dimg class="detalle_img" proc="msicx61-corei5"></dimg>
<br>
<p>Procesador:  Intel Core i5 4210M (2600 MHz - 3200 MHz) </p>
<p>Pantalla: LED 15.6" (1366x768)</p>
<p>Memoria: 8 GB DDR3 (1600 MHz)</p>
<p>Disco duro: 1TB 7200rpm.</p>
<p>Tarjeta gráfica: NVIDIA GeForce 820M (2 GB)</p>

<br><br><br>
<div>
    <p>
        <strong>Procesador</strong>: Intel Core i5 4210M (2600 MHz - 3200 MHz)<br>
        <strong>Chispet</strong>: Intel HM86.<br>
        <strong>Pantalla</strong>: LED 15.6" (1366x768)<br>
        <strong>Memoria</strong>: 8 GB DDR3 (1600 MHz)<br>
        <strong>Disco duro</strong>: 1TB 7200rpm.<br>
        <strong>Unidad óptica</strong>: DVD±RW<br>
        <strong>Sistema Operativo</strong>: Microsoft Windows 8.1.<br>
        <strong>Tarjeta gráfica</strong>: NVIDIA GeForce 820M (2 GB)<br>
        <strong>Comunicaciones</strong>: Genérica (802.11 b/g/n), 10 / 100 / 1000 Mbps, Bluetooth<br>
        <strong>Lector de tarjetas</strong>: SD.<br>
        <strong>Puertos</strong>: HDMI, USB 2.0 x 3, VGA, salida jack de auriculares.<br>
        Cámara Web HD 1Mp y Micrófono integrados.<br>
        <strong>Peso</strong>: 2,4 kg.<br>
        <strong>Dimensiones</strong>: 383 x 250 x 35 mm..<br>
        <strong>Batería</strong>: Li-ion 6 celdas.
    </p>
</div>

<script type="application/javascript" src="../js/detalles.js"></script>