<div>
<dimg class="detalle_img" proc="msigp60leopardi5"></dimg>
<br>
    <p>
        <strong>Procesador</strong>: Intel Core I5-4200M 2,6 / 3,2Ghz<br>
        <strong>Chispet</strong>: Intel HM86.<br>
        <strong>Pantalla</strong>: 15,6'' FULL HD, 1920 x 1080 píxeles.<br>
        <strong>Memoria</strong>: 8 GB DDR3.<br>
        <strong>Disco duro</strong>: 1TB.<br>
        <strong>Unidad óptica</strong>: Super Multi DVD.<br>
        <strong>Sistema Operativo</strong>: FREE DOS.<br>
        <strong>Tarjeta gráfica</strong>: NVIDIA GeForce 840M, 2GB DDR3.<br>
        <strong>Comunicaciones</strong>: WiFi 802,11 a/c/b/g/n, Killer Gigabit LAN, Bluetooth: 4.0<br>
        <strong>Lector de tarjetas</strong>: SD.<br>
        <strong>Puertos</strong>: HDMI, USB 3.0 x 2, USB 2.0 x 2, VGA, salida jack de auriculares.<br>
        Cámara Web HD 720p y Micrófono integrados.<br>
        <strong>Teclado</strong>: serie Steel en ESPAÑOL, con numérico.<br>
        <strong>Peso</strong>: 2,4 kg.<br>
        <strong>Dimensiones</strong>: 383 x 249,5 x 32,3 -37,6 mm.<br>
        <strong>Batería</strong>: Li-ion 6 celdas.
    </p>
</div>

<script type="application/javascript" src="../js/detalles.js"></script>