<div>
<dimg class="detalle_img" proc="pc1fx8350msigamer"></dimg>
<br>

    <p>
        <strong>Procesador</strong>:  AMD FX-8350<br>
        <strong>Motherboard</strong>: MSI 970 Gaming<br>
        <strong>Memoria</strong>: 8 GB DDR3 Kingston Hyper Fury.<br>
        <strong>Disco duro</strong>: SSD crucial mx500 240gb + WD Caviar Blu Sata III 1Tb<br>
        <strong>Tarjeta gráfica</strong>:  Radeon R9 390x 8gb DDR5.<br>
        <strong>Fuente</strong>: EVGA 600b 80 plus bronce<br>
        <strong>Gabinete</strong>: Cougar MX300 USB 3.0<br>
        <strong>Mother</strong>: MSI 970 Gaming<br>
        <strong>Grabadora</strong>: DVD<br>
    </p>
</div>

<script type="application/javascript" src="../js/detalles.js"></script>