<div>
<dimg class="detalle_img" proc="razer-saberthoot"></dimg>
<br>
    <p>
        2 botones multifunción en los gatillos de la parte superior (MFB)<br>
        4 botones multifunción extraíbles (MFT)<br>
        4 botones de acción retroiluminados con tecnología Hyperesponse<br>
        Pantalla OLED para la personalización de funciones<br>
        Superficie de goma antideslizante<br>
        Conector USB de fácil liberación<br>
        Cable de fibra trenzado ligero de 3 m / 10 pies<br>
        Funda de transporte<br>
        Conector de auriculares de 2,5 mm<br>
        Tamaño aproximado : 110 mm / 4.33” (largo) x 154 mm / 6.06” (ancho) x 57 mm / 2.24” (alto)<br>
        Peso aproximado: 288 g
    </p>
</div>

<script type="application/javascript" src="../js/detalles.js"></script>