    <div class="detalle_img">
        <dimg proc="razer-imperator"></dimg>
        <br>
        <p>MOUSE RAZER IMPERATOR - Sistema de sensor Dual 4G - 6400 DPI </p>
    </div>

    <div class="desc">   
    <p>
    MOUSE RAZER IMPERATOR

- Sistema de sensor dual 4G - 6400 DPI

- Agarre contorneado con superficie de goma para el dedo pulgar

- Diseño ergonómico para diestros

- Botones laterales ajustables

- Memoria Integrada Razer Synapse

- Hasta 5m por segundo y aceleración de 50g

- Siete botones Hyperesponse que pueden programarse por separado

- Ajuste On-The-Fly Sensitivity

- Bases Ultraslick Silenciosas

- Tamaño aproximado en mm: 123 x 71 x 42
    </p>

    <p>
   Product name
	

COUGAR 700K gaming keyboard

Key switch
	

Cherry MX mechanical

Processor
	

32-bit ARM Cortex-M0

N-key rollover
	

Yes

Full key backlight
	

Yes

Game type
	

FPS / MMORPG / MOBA / RTS

On-board memory
	

512KB

Polling rate
	

1000Hz / 1ms

Repeat rate
	

1X / 2X / 4X / 8X

On-board memory
	

Yes

Material
	

Aluminum / Plastic

Software
	

COUGAR UIX™ SYSTEM

Additional programmable G-keys
	

6

Palm rest
	

Yes

Audio jacks
	

Yes

USB pass-through
	

Yes

Interface
	

Golden-plated USB plug

Cable length
	

1.8m Braided

Dimension
	

230(L) X 487(W) X 40(H) mm

Weight
	

1.2kg
    </p>

</div>

<script type="application/javascript" src="../js/detalles.js"></script>