    <div class="detalle_img">
        <dimg proc="razer-ouroboros-elite-ambidextrous"></dimg>
        <br>
        <p>El Razer Ouroboros ofrece una ergonomía ambidiestra personalizable con una parte posterior y reposamanos ajustables, junto con dos paneles laterales intercambiables. Este ratón para juegos se adapta perfectamente a cualquier curvatura de mano y estilo de agarre.</p>
    </div>

    <div class="desc">   
    <p>
    El Razer Ouroboros ofrece una ergonomía ambidiestra personalizable con una parte posterior y reposamanos ajustables, junto con dos paneles laterales intercambiables. Este ratón para juegos se adapta perfectamente a cualquier curvatura de mano y estilo de agarre, lo que garantiza una comodidad óptima y una fatiga mínima durante las sesiones de juego prolongadas de cualquier jugador y, en especial, las tuyas.

 

Sistema de sensor dual 4G:

Experimenta el nuevo estándar de juego profesional de precisión con el sistema de sensor dual 4Gde 8200 ppp, que incorpora un láser y un sensor óptico para calibrar el ratón con precisión sobre cualquier superficie y lograr un seguimiento excepcional. El Razer Ouroboros no solo está a la altura de la velocidad de tus golpes (independientemente de tu estilo de juego), sino que también ofrece una distancia de seguimiento de despegue ajustable que te proporciona más control que nunca. 

 

Tecnología inalámbrica con calidad para juegos de 1 ms:

La incomparable tecnología inalámbrica con calidad para juegos del Razer Ouroboros hace que funcione tan bien con cable como sin cable, lo que te proporciona una libertad de movimientos total para dominar las competiciones. Con un tiempo de respuesta de 1 ms, tu comando se ejecutará en primer lugar incluso si tu rival y tú reaccionáis al mismo tiempo. Cuando tengas que cargar el ratón, utiliza su elegante base o enchufa el cable para seguir jugando.
    </p>

    <p>
   Product name
	

COUGAR 700K gaming keyboard

Key switch
	

Cherry MX mechanical

Processor
	

32-bit ARM Cortex-M0

N-key rollover
	

Yes

Full key backlight
	

Yes

Game type
	

FPS / MMORPG / MOBA / RTS

On-board memory
	

512KB

Polling rate
	

1000Hz / 1ms

Repeat rate
	

1X / 2X / 4X / 8X

On-board memory
	

Yes

Material
	

Aluminum / Plastic

Software
	

COUGAR UIX™ SYSTEM

Additional programmable G-keys
	

6

Palm rest
	

Yes

Audio jacks
	

Yes

USB pass-through
	

Yes

Interface
	

Golden-plated USB plug

Cable length
	

1.8m Braided

Dimension
	

230(L) X 487(W) X 40(H) mm

Weight
	

1.2kg
    </p>

</div>

<script type="application/javascript" src="../js/detalles.js"></script>