    <div class="detalle_img">
        <dimg proc="razernaga-epic-elite-wireless"></dimg>
        <br>
        <p>
    Accede sin esfuerzo a más funciones y macros que nunca gracias a los 17 botones de ratón que incluye la revolucionaria retícula de botones para el pulgar del Razer Naga. El software controlador del Razer Naga Epic te permitirá organizar fácilmente las combinaciones de teclas y las habilidades del personaje para cualquier juego, lo que te permitirá reasignar y asignar completamente macros a los 17 botones. Además, el Razer Naga Epic también incorpora complementos descargables para el juego y asistencia integrada para los juegos MMO más populares. (Disponible para World of Warcraft™ y Warhammer Online: Age of Reckoning™, City of Heroes™ y muchos más).<br>

 

Funcionalidad de doble modo con cable/inalámbrico:<br>

Experimenta una conexión inalámbrica real para los juegos que permite una mayor variedad de movimientos sin que ello afecte al control o a la precisión del ratón. La funcionalidad de dos modos, con cable o sin él, del Razer Naga Epic permite cambiar entre el modo de ratón inalámbrico y el modo con cable, sin tiempo de inactividad, ya que el ratón se carga mientras está en el modo con cable.<br>
3 paneles laterales intercambiables para una sujeción ergonómica:<br>
Tres paneles laterales intercambiables diseñados por el reconocido equipo de soluciones ergonómicas de Razer proporcionan una sujeción optimizada para diferentes tamaños de mano y estilos de agarre consiguiendo la máxima comodidad en las maratonianas sesiones de juego.<br>
 

 

Especificaciones Técnicas:<br>

17 botones totalmente programables optimizados para MMO (incluye retícula de 12 botones para el pulgar)<br>
Funcionalidad dual en modo inalámbrico o con cable<br>
Inalámbrico: conector USB de 2,4 GHz (con puerto conector de modo con cable)<br>
3 paneles laterales intercambiables<br>
Base de carga (también funciona como unidad receptora inalámbrica)<br>
Perfiles ilimitados para personajes con los complementos<br>
Complementos opcionales de software específicos para MMO<br>
Iluminación de fondo de 16 millones de colores<br>
Sensor láser Razer Precision de 3,5 G y 5600 dpi<br>
Velocidad máxima de rastreo de 1,25 a 5 m por segundo<br>
Ultrapolling de 1.000 Hz/tiempo de respuesta de 1 ms<br>
Dimensiones aproximadas : 116 mm / 4,57” (Largo) x 78 mm / 3,07” (Ancho) x 42 mm / 1,65” (Alto)<br>
Peso aproximado : 134 g / 0,30 lbs<br>
Vida de la batería: 12 horas (uso continuo); 72 horas (uso normal para juegos).<br>
    </p>

    <p>
   Product name<br>
	

COUGAR 700K gaming keyboard<br>

Key switch<br>
	

Cherry MX mechanical<br>

Processor<br>
	

32-bit ARM Cortex-M0<br>

N-key rollover<br>
	

Yes<br>

Full key backlight<br>
	

Yes<br>

Game type<br>
	

FPS / MMORPG / MOBA / RTS<br>

On-board memory<br>
	

512KB<br>

Polling rate<br>
	

1000Hz / 1ms<br>

Repeat rate<br>
	

1X / 2X / 4X / 8X<br>

On-board memory<br>
	

Yes<br>

Material<br>
	

Aluminum / Plastic<br>

Software<br>
	

COUGAR UIX™ SYSTEM<br>

Additional programmable G-keys<br>
	

6<br>

Palm rest<br>
	

Yes<br>

Audio jacks<br>
	

Yes<br>

USB pass-through<br>
	

Yes<br>

Interface<br>
	

Golden-plated USB plug<br>

Cable length<br>
	

1.8m Braided<br>

Dimension<br>
	

230(L) X 487(W) X 40(H) mm<br>

Weight<br>
	

1.2kg<br>
    </p>
    </div>


<script type="application/javascript" src="../js/detalles.js"></script>