    <div class="detalle_img">
        <dimg proc="razernaga-epic-elite-wireless"></dimg>
        <br>
        <p>
    Accede sin esfuerzo a más funciones y macros que nunca gracias a los 17 botones de ratón que incluye la revolucionaria retícula de botones para el pulgar del Razer Naga. El software controlador del Razer Naga Epic te permitirá organizar fácilmente las combinaciones de teclas y las habilidades del personaje para cualquier juego, lo que te permitirá reasignar y asignar completamente macros a los 17 botones. Además, el Razer Naga Epic también incorpora complementos descargables para el juego y asistencia integrada para los juegos MMO más populares. (Disponible para World of Warcraft™ y Warhammer Online: Age of Reckoning™, City of Heroes™ y muchos más).

 

Funcionalidad de doble modo con cable/inalámbrico:

Experimenta una conexión inalámbrica real para los juegos que permite una mayor variedad de movimientos sin que ello afecte al control o a la precisión del ratón. La funcionalidad de dos modos, con cable o sin él, del Razer Naga Epic permite cambiar entre el modo de ratón inalámbrico y el modo con cable, sin tiempo de inactividad, ya que el ratón se carga mientras está en el modo con cable.
3 paneles laterales intercambiables para una sujeción ergonómica:
Tres paneles laterales intercambiables diseñados por el reconocido equipo de soluciones ergonómicas de Razer proporcionan una sujeción optimizada para diferentes tamaños de mano y estilos de agarre consiguiendo la máxima comodidad en las maratonianas sesiones de juego.
 

 

Especificaciones Técnicas:

17 botones totalmente programables optimizados para MMO (incluye retícula de 12 botones para el pulgar)
Funcionalidad dual en modo inalámbrico o con cable
Inalámbrico: conector USB de 2,4 GHz (con puerto conector de modo con cable)
3 paneles laterales intercambiables
Base de carga (también funciona como unidad receptora inalámbrica)
Perfiles ilimitados para personajes con los complementos
Complementos opcionales de software específicos para MMO
Iluminación de fondo de 16 millones de colores
Sensor láser Razer Precision de 3,5 G y 5600 dpi
Velocidad máxima de rastreo de 1,25 a 5 m por segundo
Ultrapolling de 1.000 Hz/tiempo de respuesta de 1 ms
Dimensiones aproximadas : 116 mm / 4,57” (Largo) x 78 mm / 3,07” (Ancho) x 42 mm / 1,65” (Alto)
Peso aproximado : 134 g / 0,30 lbs
Vida de la batería: 12 horas (uso continuo); 72 horas (uso normal para juegos).
    </p>

    <p>
   Product name
	

COUGAR 700K gaming keyboard

Key switch
	

Cherry MX mechanical

Processor
	

32-bit ARM Cortex-M0

N-key rollover
	

Yes

Full key backlight
	

Yes

Game type
	

FPS / MMORPG / MOBA / RTS

On-board memory
	

512KB

Polling rate
	

1000Hz / 1ms

Repeat rate
	

1X / 2X / 4X / 8X

On-board memory
	

Yes

Material
	

Aluminum / Plastic

Software
	

COUGAR UIX™ SYSTEM

Additional programmable G-keys
	

6

Palm rest
	

Yes

Audio jacks
	

Yes

USB pass-through
	

Yes

Interface
	

Golden-plated USB plug

Cable length
	

1.8m Braided

Dimension
	

230(L) X 487(W) X 40(H) mm

Weight
	

1.2kg
    </p>
    </div>


<script type="application/javascript" src="../js/detalles.js"></script>