    <div class="detalle_img">
        <dimg proc="razer-blackwidow-chroma"></dimg>
        <br>
        <p>Sencillamente el mejor teclado gamer!</p>
    </div>

    <div class="desc">   
    <p>
    <table style="color: #323232; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; line-height: 18px; text-align: start; width: 475px; background-color: #ffffff;" border="0" cellpadding="0" cellspacing="0">
<thead>
<tr>
<td style="padding: 1px;" valign="top" width="240">
<p style="margin-top: 0px; margin-bottom: 0px;"><strong>Specs:</strong></p>
</td>
<td style="padding: 1px;" valign="top" width="122">
<p style="margin-top: 0px; margin-bottom: 0px;"><strong>Details:</strong></p>
</td>
<td style="padding: 1px;" valign="top">&nbsp;</td>
</tr>
</thead>
<tbody>
<tr>
<td style="padding: 1px;" valign="top">
<p style="margin-top: 0px; margin-bottom: 0px;"><strong>Height</strong></p>
</td>
<td style="padding: 1px;" valign="top">
<p style="margin-top: 0px; margin-bottom: 0px;">1.5 inches</p>
</td>
<td style="padding: 1px;" valign="top">&nbsp;</td>
</tr>
<tr>
<td style="padding: 1px;" valign="top">
<p style="margin-top: 0px; margin-bottom: 0px;"><strong>Width</strong></p>
</td>
<td style="padding: 1px;" valign="top">
<p style="margin-top: 0px; margin-bottom: 0px;">18.5 inches</p>
</td>
<td style="padding: 1px;" valign="top">&nbsp;</td>
</tr>
<tr>
<td style="padding: 1px;" valign="top">
<p style="margin-top: 0px; margin-bottom: 0px;"><strong>Depth</strong></p>
</td>
<td style="padding: 1px;" valign="top">
<p style="margin-top: 0px; margin-bottom: 0px;">7.2 inches</p>
</td>
<td style="padding: 1px;" valign="top">&nbsp;</td>
</tr>
<tr>
<td style="padding: 1px;" valign="top">
<p style="margin-top: 0px; margin-bottom: 0px;"><strong>Weight</strong></p>
</td>
<td style="padding: 1px;" valign="top">
<p style="margin-top: 0px; margin-bottom: 0px;">3.3 pounds</p>
</td>
<td style="padding: 1px;" valign="top">&nbsp;</td>
</tr>
<tr>
<td style="padding: 1px;" valign="top">
<p style="margin-top: 0px; margin-bottom: 0px;"><strong>Color Category</strong></p>
</td>
<td style="padding: 1px;" valign="top">
<p style="margin-top: 0px; margin-bottom: 0px;">Black</p>
</td>
<td style="padding: 1px;" valign="top">&nbsp;</td>
</tr>
<tr>
<td style="padding: 1px;" valign="top">
<p style="margin-top: 0px; margin-bottom: 0px;"><strong>Compatible Platform(s)</strong></p>
</td>
<td style="padding: 1px;" valign="top">
<p style="margin-top: 0px; margin-bottom: 0px;">Mac/Windows</p>
</td>
<td style="padding: 1px;" valign="top">&nbsp;</td>
</tr>
<tr>
<td style="padding: 1px;" valign="top">
<p style="margin-top: 0px; margin-bottom: 0px;"><strong>Choking Hazard Warning</strong></p>
</td>
<td style="padding: 1px;" valign="top">
<p style="margin-top: 0px; margin-bottom: 0px;">No</p>
</td>
<td style="padding: 1px;" valign="top">&nbsp;</td>
</tr>
<tr>
<td style="padding: 1px;" valign="top">
<p style="margin-top: 0px; margin-bottom: 0px;"><strong>Computer Connectivity</strong></p>
</td>
<td style="padding: 1px;" valign="top">
<p style="margin-top: 0px; margin-bottom: 0px;">Mac</p>
</td>
<td style="padding: 1px;" valign="top">&nbsp;</td>
</tr>
<tr>
<td style="padding: 1px;" valign="top">
<p style="margin-top: 0px; margin-bottom: 0px;"><strong>Dedicated Macro Keys</strong></p>
</td>
<td style="padding: 1px;" valign="top">
<p style="margin-top: 0px; margin-bottom: 0px;">Yes</p>
</td>
<td style="padding: 1px;" valign="top">&nbsp;</td>
</tr>
<tr>
<td style="padding: 1px;" valign="top">
<p style="margin-top: 0px; margin-bottom: 0px;"><strong>Interface(s)</strong></p>
</td>
<td style="padding: 1px;" valign="top">
<p style="margin-top: 0px; margin-bottom: 0px;">USB</p>
</td>
<td style="padding: 1px;" valign="top">
<p style="margin-top: 0px; margin-bottom: 0px;">A boundary across which two independent systems meet and act on or communicate with each other.</p>
</td>
</tr>
<tr>
<td style="padding: 1px;" valign="top">
<p style="margin-top: 0px; margin-bottom: 0px;"><strong>Number Of Keys</strong></p>
</td>
<td style="padding: 1px;" valign="top">
<p style="margin-top: 0px; margin-bottom: 0px;">109</p>
</td>
<td style="padding: 1px;" valign="top">&nbsp;</td>
</tr>
<tr>
<td style="padding: 1px;" valign="top">
<p style="margin-top: 0px; margin-bottom: 0px;"><strong>Number Of Programmable Macros</strong></p>
</td>
<td style="padding: 1px;" valign="top">
<p style="margin-top: 0px; margin-bottom: 0px;">5</p>
</td>
<td style="padding: 1px;" valign="top">&nbsp;</td>
</tr>
<tr>
<td style="padding: 1px;" valign="top">
<p style="margin-top: 0px; margin-bottom: 0px;"><strong>Number Of USB Port(s)</strong></p>
</td>
<td style="padding: 1px;" valign="top">
<p style="margin-top: 0px; margin-bottom: 0px;">1</p>
</td>
<td style="padding: 1px;" valign="top">&nbsp;</td>
</tr>
<tr>
<td style="padding: 1px;" valign="top">
<p style="margin-top: 0px; margin-bottom: 0px;"><strong>Wireless</strong></p>
</td>
<td style="padding: 1px;" valign="top">
<p style="margin-top: 0px; margin-bottom: 0px;">No</p>
</td>
<td style="padding: 1px;" valign="top">&nbsp;</td>
</tr>
<tr>
<td style="padding: 1px;" valign="top">
<p style="margin-top: 0px; margin-bottom: 0px;"><strong>Mouse Included</strong></p>
</td>
<td style="padding: 1px;" valign="top">
<p style="margin-top: 0px; margin-bottom: 0px;">No</p>
</td>
<td style="padding: 1px;" valign="top">&nbsp;</td>
</tr>
<tr>
<td style="padding: 1px;" valign="top">
<p style="margin-top: 0px; margin-bottom: 0px;"><strong>Multimedia Keys</strong></p>
</td>
<td style="padding: 1px;" valign="top">
<p style="margin-top: 0px; margin-bottom: 0px;">Yes</p>
</td>
<td style="padding: 1px;" valign="top">&nbsp;</td>
</tr>
<tr>
<td style="padding: 1px;" valign="top">
<p style="margin-top: 0px; margin-bottom: 0px;"><strong>Palm Rest</strong></p>
</td>
<td style="padding: 1px;" valign="top">
<p style="margin-top: 0px; margin-bottom: 0px;">No</p>
</td>
</tr>
</tbody>
</table>
    </p>

</div>

<script type="application/javascript" src="../js/detalles.js"></script>