    <div class="detalle_img">
        <dimg proc="razer-imperator"></dimg>
        <br>
        <p><p>
    MOUSE RAZER IMPERATOR<br>

- Sistema de sensor dual 4G - 6400 DPI<br>

- Agarre contorneado con superficie de goma para el dedo pulgar<br>

- Diseño ergonómico para diestros<br>

- Botones laterales ajustables<br>

- Memoria Integrada Razer Synapse<br>

- Hasta 5m por segundo y aceleración de 50g<br>

- Siete botones Hyperesponse que pueden programarse por separado<br>

- Ajuste On-The-Fly Sensitivity<br>

- Bases Ultraslick Silenciosas<br>

- Tamaño aproximado en mm: 123 x 71 x 42<br>
    </p>

    <p>
   Product name<br>
	

COUGAR 700K gaming keyboard<br>

Key switch<br>
	

Cherry MX mechanical<br>

Processor<br>
	

32-bit ARM Cortex-M0<br>

N-key rollover<br>
	

Yes<br>

Full key backlight<br>
	

Yes<br>

Game type<br>
	

FPS / MMORPG / MOBA / RTS<br>

On-board memory<br>
	

512KB<br>

Polling rate<br>
	

1000Hz / 1ms<br>

Repeat rate<br>
	

1X / 2X / 4X / 8X<br>

On-board memory<br>
	

Yes<br>

Material<br>
	

Aluminum / Plastic<br>

Software<br>
	

COUGAR UIX™ SYSTEM<br>

Additional programmable G-keys<br>
	

6<br>

Palm rest<br>
	

Yes<br>

Audio jacks<br>
	

Yes<br>

USB pass-through<br>
	

Yes<br>

Interface<br>
	

Golden-plated USB plug<br>

Cable length<br>
	

1.8m Braided<br>

Dimension<br>
	

230(L) X 487(W) X 40(H) mm<br>

Weight<br>
	

1.2kg<br>
    </p></p>
    </div>

<script type="application/javascript" src="../js/detalles.js"></script>