<dimg class="detalle_img" proc="razer-atrox-arcade"></dimg>
<br>

<br><br><br><br><br><br><br><br><br><br><br><br>
<div>
    <p>
        8 botones Sanwa orientados a torneos<br>
        Joystick Sanwa con palanca de bola y parte superior de tipo bate adicional<br>
        Panel superior intercambiable que permite incorporar diseños completamente personalizados<br>
        Fácil acceso, con un solo toque, a los componentes internos y al almacenamiento<br>
        Acceso total a los componentes internos y compartimentos de almacenamiento para que puedas modificarlo con facilidad<br>
        Estructura interna en forma de panal de abeja para facilitar el montaje<br>
        Espacio de almacenamiento para otra palanca de juego tipo bate, etc.<br>
        4 metros de cable USB desmontable con bloqueo de rosca para una conexión segur<br>
        Destornillador para modificación incluido<br>
    </p>
</div>

<script type="application/javascript" src="../js/detalles.js"></script>