    <div class="detalle_img">
        <dimg proc="razer-ferox-mobile"></dimg>
        <br>
        <p><p>
    Sonido omnidireccional de 360° 

A diferencia de los altavoces orientados de manera frontal y que solo proyectan el sonido en una dirección, las bocinas del Razer Ferox están situadas estratégicamente para producir un sorprendente sonido omnidireccional, que envuelve el lugar en todas direcciones de una manera completa y uniforme.
    </p>

    <p>
    Cámara de resonancia ampliada y mejorada 

Gracias a la mejora de sus cámaras de resonancia ampliadas y a una construcción de bocina exclusiva, el Razer Ferox ofrece una acústica sorprendente y bajos de gran calidad para una experiencia sonora poderosa y envolvente a pesar de su diminuto tamaño.
    </p>
        
    <p>
    Amplificación digital optimizada 

Una experiencia de sonido nítida con bajos niveles de distorsión gracias a la amplificación digital del Razer Ferox. Disfruta de un sonido alto y claro estés donde estés durante 8 horas, con una acústica de calidad realista y una respuesta de bajos mejorada.
    </p>
        
    <p>
    FICHA TÉCNICA
Respuesta de frecuencia: de 150Hz a 20 KHz
Drivers: imanes de neodimio de 30 mm
Duración de las pilas: Aprox. 8 horas con un uso estándar
Indicador LED del estado de la bateria
Capacidad de la batería: 470 mAh
Conexión :Toma de audio de 3,5 mm y USB
Potencia: 2 x 3 W
Funda de transporte incluida
    </p></p>
    </div>


<script type="application/javascript" src="../js/detalles.js"></script>