    <div class="detalle_img">
        <dimg proc="thermalright-hr-22-heatsink"></dimg>
        <br>
        <p>
    
	
Thermalright HR-22 Heatsink<br>
Precio por unidad (Pieza): U$S 146 iva inc.<br>
	
Realizar una consulta sobre este producto<br>

Technical Spec :<br>

Heatsink Specifications:<br>

Dimension: L150mm x W120mm x H159mm<br>

Weight: 1120g<br>

Heat pipes: 6mm heatpipe*8 units<br>

Fin: T = 0.5 mm ; Gap = 2.8 mm<br>

Fin Pcs: 35 pcs<br>

Copper Base: C1100 Pure copper nickel plated<br>

Motherboard to Fin: 36 + 8 = 44 mm 46 + 8=54 mm<br>
    </p>
    </div>

<script type="application/javascript" src="../js/detalles.js"></script>